**ETL Process**

1- Data Extracting

In [1]:
import pandas as pd

In [2]:
with open("iris.data") as f:
    data = f.read()
    data = data.split("\n")
#print(data)
newData = []
for line in data:
    newData.append(line.split(","))
    
#print(newData)

In [4]:
df = pd.DataFrame(newData, columns=["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm","Species"])
df.to_csv("iris.csv", index=False)

2- Data Transforming

In [142]:
import pandas as pd
iris_df = pd.read_csv("iris.csv")

In [143]:
iris_df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [144]:
iris_df.tail()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica
150            NaN           NaN            NaN           NaN             NaN
151            NaN           NaN            NaN           NaN             NaN

In [145]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.1+ KB

In [146]:
iris_df.shape

(152, 5)

In [147]:
# Method 2: Using a dictionary to count occurrences
count_dict = {}
duplicates_list_method2 = []

for value in iris_df:
    if value in count_dict:
        count_dict[value] += 1
        if count_dict[value] == 2:
            duplicates_list_method2.append(value)
    else:
        count_dict[value] = 1

print("Duplicates:", duplicates_list_method2)

Duplicates: []

In [148]:
iris_df.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [149]:
iris_df.rename(columns={
    'SepalLengthCm' : 'Sepal_Length_Cm',
    'SepalWidthCm' : 'Sepal_Width_Cm',
    'PetalLengthCm' : 'Petal_Length_Cm',
    'PetalWidthCm' : 'Petal_Width_Cm'
}, inplace=True)

iris_df.columns

Index(['Sepal_Length_Cm', 'Sepal_Width_Cm', 'Petal_Length_Cm',
       'Petal_Width_Cm', 'Species'],
      dtype='object')

In [150]:
iris_df.columns = [col.lower() for col in iris_df]
iris_df.columns

Index(['sepal_length_cm', 'sepal_width_cm', 'petal_length_cm',
       'petal_width_cm', 'species'],
      dtype='object')

In [151]:
#Missing value

In [152]:
iris_df.isnull().sum()

sepal_length_cm    2
sepal_width_cm     2
petal_length_cm    2
petal_width_cm     2
species            2
dtype: int64

In [153]:
iris_df.drop(150,inplace=True)
iris_df.drop(151,inplace=True)

In [154]:
iris_df.isnull().sum()

sepal_length_cm    0
sepal_width_cm     0
petal_length_cm    0
petal_width_cm     0
species            0
dtype: int64

In [155]:
iris_df.shape

(150, 5)

In [156]:
iris_df.describe()

       sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
count       150.000000      150.000000       150.000000      150.000000
mean          5.843333        3.054000         3.758667        1.198667
std           0.828066        0.433594         1.764420        0.763161
min           4.300000        2.000000         1.000000        0.100000
25%           5.100000        2.800000         1.600000        0.300000
50%           5.800000        3.000000         4.350000        1.300000
75%           6.400000        3.300000         5.100000        1.800000
max           7.900000        4.400000         6.900000        2.500000

In [157]:
iris_df.corr()

C:\Users\munzir\AppData\Local\Temp\ipykernel_13904\1934569051.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  iris_df.corr()

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm
sepal_length_cm,1.000000,-0.109369,0.871754,0.817954
sepal_width_cm,-0.109369,1.000000,-0.420516,-0.356544
petal_length_cm,0.871754,-0.420516,1.000000,0.962757
petal_width_cm,0.817954,-0.356544,0.962757,1.000000

In [158]:
iris_df['sepal_length_cm'].value_counts()

5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: sepal_length_cm, dtype: int64

In [159]:
subset = iris_df[['sepal_length_cm', 'petal_length_cm']]
subset.head()

   sepal_length_cm  petal_length_cm
0              5.1              1.4
1              4.9              1.4
2              4.7              1.3
3              4.6              1.5
4              5.0              1.4

In [162]:
iris_df.iloc[1]

sepal_length_cm            4.9
sepal_width_cm             3.0
petal_length_cm            1.4
petal_width_cm             0.2
species            Iris-setosa
Name: 1, dtype: object

In [163]:
iris_df.iloc[1:4]

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa

In [164]:
iris_df

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

3- Data Loading

In [165]:
iris_df.to_csv('iris_clean.csv', index=False)